/* configuracao geral */
*{
    margin: 0;
    padding: 0;
}

body{
 background-color: black;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
/* fim da configuracao geral */

/* container */
.container{
    height: 80px;
    width: 450px;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 0 5px #ff5900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container li{
    list-style: none;
    margin: auto 10px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: 0%;
    transition: .5s ease;
}
.container li.active{
    top: -50%;
    background-color: #2c2c2c;
    box-shadow: 0 0 5px #555;
    border-bottom: 2px solid aqua;
}
.container li ion-icon{
    font-size: 32px;
    color: aquamarine;
    cursor: pointer;
}
.container li.active ion-icon{
        color: aqua;
        filter: drop-shadow(0 0 5px aqua);
}
/* fim do .container */